/* !============ GLOBAL ============ */

* {padding: 0; margin: 0; box-sizing: border-box; font-family: 'Tomorrow';}

:root {
  font-size: 62.5%;

  --pg-bg-color: #000000;
  --primary-color: #F8EF00;
  --secondary-color: 0, 240, 255;
  --glitch-color: #FF003C;
}

body {
  font-size: 1.6rem;
  color: white;

  padding: 8rem 2rem 3.8rem;

  background: var(--pg-bg-color);
}

ul {
  list-style: none;
}

.container {
  width: min(43rem, 100%);
  margin-inline: auto;
}

/* !============ HEADER ============ */

.pg-title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 0.2em;

  color: var(--primary-color);

  width: 33rem;
}

/* !============ MAIN ============ */

.pg-main {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

/* !============ GENERATE PASS SECTION ============ */

.generate-password-sc {
  padding-top: 3.2rem;

  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.result-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#result {
  width: 100%;
  height: 6.4rem;

  padding-inline: 2rem 6rem;

  letter-spacing: 0.4rem;
  color: rgb(var(--secondary-color));

  border: 2px solid rgb(var(--secondary-color));
  background: rgba(var(--secondary-color), 0.1);
}

.result-output {
  width: min(58.8rem, 100%);
  position: relative;
}

.retry-btn {
  position: absolute;
  right: 2rem; top: 50%;
  transform: translateY(-50%);

  background: transparent;
  border: none;
  
  cursor: pointer;

  color: rgb(var(--secondary-color));
  font-size: 2.4rem;
}

.copy-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  position: relative;

  padding-inline: 4rem;

  width: min(36rem, 100%);
  height: 6.4rem;

  border: none;
  border-right: 2px solid var(--glitch-color);

  color: black;

  background: var(--primary-color);
}

.copy-btn::before {
  content: '';
  position: absolute;
  left: -1.5rem; bottom: -1.5rem;

  transform: rotate(45deg);

  height: 3rem;
  width: 3rem;

  background: var(--pg-bg-color);
}

.copy-btn::after {
  content: 'R25';
  position: absolute;
  right: 2rem; bottom: 0;

  color: var(--primary-color);
  font-size: 0.8rem;
  letter-spacing: 0.1em;

  border-left: 2px solid var(--glitch-color);

  height: 1rem;
  width: 3.8rem;
  background-color: var(--pg-bg-color);
}

.copy-btn .btn-text {
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.2em;
}

.copy-btn i {
  font-size: 1.8rem;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.password-length {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.length-span {
  margin-left: 1rem;
}

#password-length {
  appearance: none;

  cursor: pointer;

  width: 100%;

  position: relative;
}

#password-length::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2rem;
  width: 2rem;
  margin-top: -0.8rem;
  border: 1px solid rgb(var(--secondary-color));
  background: var(--primary-color);
}

#password-length::-webkit-slider-runnable-track {
  background: rgb(var(--secondary-color));
  height: 0.4rem;
}

.checkboxes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 2.5rem;

  height: 2.6rem;

  position: relative;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox input[type="checkbox"] ~ label {
  cursor: pointer;
}

.checkbox input[type="checkbox"] ~ label::before {
  content: '';
  position: absolute;
  top: 0; left: 0rem;

  width: 2.4rem;
  height: 2.4rem;

  border: 2px solid var(--primary-color);
}

.checkbox input[type="checkbox"]:checked ~ label:before {
  background: #F8EF00;
}

/* !============ PASSWORD HISTORY SECTION ============ */

.password-history-sc {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  width: min(39rem, 100%);

}

.history-title {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.2em;
}

.history-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
}

.history {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pass-text {
  letter-spacing: 0.2em;
  color: #FAFAFA;
  opacity: 0.8;

  max-width: 32rem;

  word-break: break-all;
}

.history i {
  font-size: 2.5rem;
  cursor: pointer;
}

.clear-history-btn {
  color: var(--primary-color);
  letter-spacing: 0.2em;

  margin-inline: auto;

  cursor: pointer;

  width: fit-content;

  background: transparent;
  
  border: none;
}

/* !============ FOOTER ============ */

.pg-footer {
  padding-top: 5rem;
  text-align: center;
}

.author-text {
  font-family: 'Barlow';
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  color: #FAFAFA;
}

/* !============ COPY ANIMATION ELEMENT ============ */

.copy-sucess {
  opacity: 0;

  min-width: 21rem;

  position: fixed;
  bottom: 3rem; left: 50%;

  padding: 2rem 2rem;

  transform: translate(-50%, 80%);

  transition: 0.8s;

  border-radius: 5px;

  text-align: center;
  font-weight: 600;

  background: #24ad2b;
}

.copy-sucess.show {
  opacity: 1;
  transform: translate(-50%, 0);
}

/* !============ RESPONSIVE ============ */

@media (min-width: 1024px) {
  .container {
    width: min(112rem, 100%);
  }

  .generate-password-sc {
    width: min(58.8rem, 100%);
  }

  .pg-main {
    flex-direction: row;
    justify-content: space-between;
  }
}